@import '../variable-styles/colors.sass'
@import '../variable-styles/breakpoints.sass'
@import '../variable-styles/variables.sass'

.share-features
  display: flex
  justify-content: flex-end
  gap: 1rem
  padding: 2rem
  background-color: $secondary
  @include tablet
    position: fixed
    bottom: 0
    width: calc(100% - 4rem)
    z-index: $z-top

  &__url-preview
    display: flex
    gap: 1rem
    align-content: center
    justify-content: flex-end
    width: 60%
    @include tablet
      width: 100%
    &-label
      display: flex
    &-content
      white-space: nowrap
      &-wrapper
        padding: 1em 1em
        width: 400px
        overflow-x: auto
        background-color: $primary
        @include tablet
          width: 20px

// styles 3rd party libraries
.css-ci5apu-MuiSvgIcon-root
  fill: $primary-contrast !important
  color: $primary-contrast !important
.css-jxtyyz
  fill: $primary-contrast !important
  color: $primary-contrast !important